html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="assets/style.css")
    script(src="assets/app.bundle.js")
    
    title Test page
  body
    div(class="container")
      h1 Main header
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi fugit excepturi est voluptatem deserunt sint recusandae temporibus cupiditate sed modi iusto, ut repudiandae laboriosam at, expedita laborum! Vitae, sapiente ut!
      input(placeholder="input text")

    