extends /layouts/application.pug

block content
  .row.justify-content-md-center.mt-5
    .col-12.col-sm-10.col-md-8.col-xl-6
      +formFor(f, { url: urlFor('user.update', getUserId()), method: 'patch' })
        h1.display-5.mb-5.text-center Edit user settings      
        +input(f, 'firstName', { label: 'First name', placeholder: 'Enter your first name' })
        +input(f, 'lastName', { label: 'Last name', placeholder: 'Enter your last name' })
        +input(f, 'email', { type: 'email', label: 'Email address', placeholder: 'Enter your email' })
        +input(f, 'password', { type: 'password', label: 'New password', placeholder: 'New password must contain min 8 char in length' })
        if isSignedIn
          +button(f, urlFor('user.delete', getUserId()), { class: 'btn-secondary', text: 'Delete user', message: 'Are you sure to delete the user?' })
          +submit(f, 'Change settings')
