extends /layouts/application.pug

block content
  .main-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
    h1.display-4 Overview 
    p.lead 
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat excepturi vel dolorum nihil saepe expedita aut exercitationem nemo recusandae minima, alias in mollitia provident sint dolorem ad quibusdam repellendus aliquam?
    